repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.31.0
    hooks:
      - id: pyupgrade
        args: ["--py37-plus", "--keep-runtime-typing"]
  - repo: https://github.com/myint/autoflake
    rev: v1.4
    hooks:
      - id: autoflake
        args: ["--in-place", "--remove-all-unused-imports"]
  - repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
      - id: black
        exclude: (examples|macrokit/ipython|macrokit/julia|tests)
  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        args: [--min-python-version, "3.7"]
        additional_dependencies: [flake8-docstrings, flake8-typing-imports]
        pass_filenames: true
        exclude: (examples|macrokit/ipython|macrokit/julia|tests|setup.py)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.931
    hooks:
      - id: mypy
        additional_dependencies: [tokenize-rt==3.2.0]
        exclude: (examples|macrokit/ipython|macrokit/julia|tests)
